# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=fiaptechgroup@gmail.com
SMTP_PASSWORD=----
SMTP_FROM_EMAIL=noreply@videprocessing.com
SMTP_FROM_NAME=Video Processing System

ENVIRONMENT=development
LOG_LEVEL=INFO

NOTIFICATION_RETRY_ATTEMPTS=3
NOTIFICATION_RETRY_DELAY=5
